@use '../helpers' as *;

.advantages-card {
  display: grid;
  row-gap: rem(30);

  @include laptop {
    row-gap: rem(20);
  }

  @include mobile {
    row-gap: rem(14);
  }

  &__img {
    --iconSize: #{rem(50)};

    @include square(var(--iconSize));

    @include laptop {
      --iconSize: #{rem(40)};
    }

    @include mobile {
      --iconSize: #{rem(30)};
    }
  }

  &__link {
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(4);

    @include laptop {
      row-gap: rem(2);
    }
  }

  &__title {
    @include fluid-text(20, 16)
  }

  &__subtitle {
    margin: 0;
  }

  &__details {
    margin: 0;
    font-family: var(--font-family-accent);
    font-size: rem(20);
    color: var(--color-gray-60);

    @include laptop {
      font-size: rem(16);
    }
  }
}