@use '../helpers' as *;

.blog-details {
  border-bottom: var(--border);

  &__banner {
    display: flex;
    align-items: end;
    min-height: fluid(598, 281);
    text-align: center;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.88) 75.52%, #141414 100%),
    var(--bgImg) center / cover no-repeat;
    padding-block: fluid(65, 17);
  }

  &__title {
    @include fluid-text(64, 28)
  }

  &__body {
    --rowGap: #{fluid(24, 5)};

    border-block: var(--border);

    &-inner {
      display: grid;
      grid-template-columns: 1fr rem(520);

      @include tablet {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  &__content {
    @include tablet-above {
      border-right: var(--border);
    }
  }

  &__intro, &__main, &__actions, &__summary {
    padding: fluid(80, 40) rem(80);

    @include laptop {
      padding-inline: rem(60);
    }

    @include tablet {
      padding-inline: 0;
    }
  }

  &__intro, &__actions, &__summary {
    @include tablet {
      @include full-vw-centered-line(bottom)
    }
  }

  &__actions, &__intro {
    @include tablet-above {
      border-bottom: var(--border);
    }
  }

  &__actions {
    padding-block: fluid(50, 20);

    .blog-actions__list {
      @include tablet {
        justify-content: center;
      }
    }
  }

  &__intro {
    display: grid;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(6);
    }

    &-title {
      font-size: rem(20);

      @include mobile {
        font-size: rem(18);
      }
    }
  }

  &__main {
    --initialMaxHeight: #{rem(741)};

    display: grid;
    row-gap: var(--rowGap);

    @include laptop {
      --initialMaxHeight: #{rem(692)};
    }

    @include mobile {
      --initialMaxHeight: #{rem(669)};
    }

    .title {
      &:not(:first-child) {
        --marginTop: 1.5em;

        margin-top: calc(var(--marginTop) - var(--rowGap));
      }

      &:not(:last-child) {
        --marginBottom: 1em;

        margin-top: calc(var(--marginBottom) - var(--rowGap));
      }
    }

    &-title {
      @include fluid-text(28, 18)
    }
  }

  &__read-full-btn {
    max-width: rem(195);

    @include laptop {
      max-width: rem(152);
    }
  }
}