@use '../helpers' as *;

.blog-card {
  display: grid;
  column-gap: fluid(50, 28);
  grid-template-columns: 24% 1fr auto;
  padding-block: fluid(80, 40);

  @include tablet {
    grid-template-areas:
    'author link'
    'body body';
    grid-template-columns: 1fr auto;
    row-gap: rem(30);
  }

  &__author {
    @include tablet {
      grid-area: author;
    }
  }

  &__body {
    display: grid;
    row-gap: fluid(30, 20);

    @include tablet {
      grid-area: body;
    }
  }

  &__date {
    font-weight: 600;
    font-size: fluid(20, 16);
    color: var(--color-gray-60);
  }

  &__info {
    display: grid;
    row-gap: fluid(10, 4);
  }

  &__title {
    font-size: fluid(26, 18);
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__link {
    align-self: center;

    @include tablet {
      grid-area: link;
    }
  }
}