@use '../helpers' as *;

.checkbox {
  display: inline-flex;
  column-gap: rem(10);
  align-items: center;
  color: var(--color-light);
  cursor: pointer;

  @include laptop {
    column-gap: rem(6);
  }

  @include hover {
    color: var(--color-accent);

    .checkbox__input {
      border-color: var(--color-accent);
    }
  }

  &__input {
    --size: #{rem(28)};

    @include square(var(--size));

    appearance: none;
    border: var(--border);
    border-radius: rem(4);
    background-color: var(--color-dark-10);
    cursor: pointer;

    @include laptop {
      --size: #{rem(24)};
    }

    &:not(:checked) {
      &::after {
        @include hide;
      }
    }

    &::after {
      content: '✓';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-light);
      transition-duration: var(--transition-duration);
    }
  }
}