@use '../helpers' as *;

.person-card {
  --photoSize: #{rem(80)};

  display: flex;
  column-gap: fluid(16, 8);
  align-items: center;

  @include laptop {
    --photoSize: #{rem(60)};
  }

  &__img {
    border-radius: 50%;
    width: var(--photoSize);
    background-color: var(--color-dark-15);
  }

  &__body {
    display: grid;

    @include laptop-above {
      row-gap: rem(2);
    }
  }

  &__name {
    font-size: rem(20);

    @include laptop {
      font-size: rem(18);
    }
  }

  &__department {
    margin: 0;
    color: var(--color-gray-60);
  }
}