@use '../helpers' as *;

.team {
  --personImageSize: #{rem(60)};

  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: var(--border);
  border-radius: rem(100);
  padding: rem(10);
  background-color: var(--color-dark-10);

  @include laptop {
    --personImageSize: #{rem(50)};

    padding: rem(8);
  }

  @include tablet {
    --personImageSize: #{rem(40)};
  }

  &__person {
    border: rem(2) solid var(--color-dark-40);
    border-radius: 50%;
    width: var(--personImageSize);
    background-color: var(--color-dark-15);

    @include laptop {
      border-width: rem(1);
    }

    &:not(:first-child) {
      margin-left: calc(var(--personImageSize) / 4 * -1);
    }
  }
}