@use '../helpers' as *;

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  row-gap: rem(30);

  @include laptop {
    row-gap: rem(20);
  }

  &__body {
    display: grid;
    flex-grow: 1;
    row-gap: fluid(10, 4);
  }

  &__title {
    @include fluid-text(24, 18);
  }

  &__description {
    color: var(--color-gray-60);
  }

  &__link {
    max-width: rem(201);

    @include laptop {
      max-width: rem(157);
    }

    @include mobile-s {
      max-width: 100%;
    }
  }
}